<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Input Contents</title>
    </head>
    <body>
        <div class="container">
            <section id='content'>
                {% if input_uri %}
                <form method=post action="/input/{{input_uri}} ">
                {% else %}
                <form method=post action="/intput/">
                {% endif %}
                    <h1>Input Contents</h1>
                    <div>
                        <textarea cols="120" placeholder='' rows="20" required="" autofocus="autofocus" name="contents" overflow="auto"></textarea>
                    </div>
                    <div>
                        <select name=category>
                        {% for x in category %}
                            <option value='{{x}}'>
                                {{x}}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type=submit value=input>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
