<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel=stylesheet href="../static/login.css">
        <script language="javascript">
        function CheckPasswd()
        {
            var passwd = document.getElementById("password").value;
            var passwd_check = document.getElementById("password_check").value;
            
            if ( passwd_check == "" )
            {
                document.getElementById( "passwd_checktext" ).innerHTML = ""
                document.getElementById( "submit_pos" ).innerHTML = ""
            }
            else if ( passwd != passwd_check )
            {   
                document.getElementById( "passwd_checktext" ).innerHTML = "Not Match"
                document.getElementById( "submit_pos" ).innerHTML = ""
            }
            else
            {
                document.getElementById( "passwd_checktext" ).innerHTML = "OK"
                document.getElementById( "submit_pos" ).innerHTML = "<input type=submit value=join>"
            }
        }
        </script>
    </head>
    <body>
        <div class="container">
            <section id='content'>
                <form method=post action="/join">
                    <h1>Sign Up Form Page</h1>
                    <div>
                        <input type="text" placeholder="Login ID" required="" name="id" id="id">
                    </div>
                    <div>
                        <input type="text" placeholder="User Name" required="" name="name" id="name">
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" name="password" id="password">
                    </div>
                    <div>
                        <input type="password" placeholder="Password Again" required="" name="password_check" id="password_check" onkeyup="CheckPasswd()">
                    </div>
                    <div>
                        <span id= "passwd_checktext"></span>
                    </div>
                    <div id="submit_pos">
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
